<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row"><div class="col-md-12 font-bold panel-title">About Me (Gregory Lawson)</div></div>
            </div>
            <div class="panel-body">
                <div class="text-center"><img src="/images/MeOnComputer.jpeg" alt="Start-To-Finish"></div>
                <p class="p-indent">I am a Senior Java Developer/Architect with over 14 years of professional experience in Object Oriented Analysis and Design (OOAD), developing Java based systems which include multi-tiered and web based enterprise applications using J2EE technologies like Servlets, JSP, EJB(3.0,2.0), JDBC, JNDI, JMS, JPA, Java Beans, JAXB, JAXP(SAX/DOM), and JAX-WS. </p>
                <p class="p-indent"> I have experience developing end-to-end applications in both the public and private sector across multiple disciplines including: telecommunications, finance, marketing, academia, health, public health, state and federal government.  Examples of applications developed include, but are not limited to: websites, web-based surveys, surveillance systems, training software, order entry systems, integration applications utilizing SOAP/REST, and ETL applications utilizing Rapid and Agile development methodologies.
                </p>
                <p class="p-indent">My current interests include OSGI application development, ESB integration, and Big Data using Hadoop.   For more information about my qualifications, click  here.
                </p>
            </div>
        </div>
    </div>
</div>