<head>
    <title>Gregory Lawson</title>
    <!--link rel="stylesheet" href="http://bootswatch.com/darkly/bootstrap.min.css"/-->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main_pdf.css"/>
</head>

