<div class="jumbotron jumbo-opacity border-dressing">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="jumbotron-image" width="200" src="/images/me_purple_shirt.jpeg" alt="Gregory lawson"></img>
            </div>
            <div class="col-md-9"><div class="text-top text-center jumbotron-text">Gregory R. Lawson</div></div>
        </div>
    </div>
</div>