<div class="row">
    <div class="col-md-9">
        <div class="resume-name-headline">GREGORY R. LAWSON</div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-body">
                <div class="">
                    <p style="margin-bottom: -25px;">(770) 862-0112</p><br>
                    <p style="margin-bottom: -5px;">glawson6@yahoo.com</p>
                </div>
                <!--
        <table>
            <tr><td class="text-right">(770) 862-0112</td></tr>
            <tr><td class="text-right">glawson6@yahoo.com</td></tr>
        </table>
        -->
            </div>
        </div>
    </div>

</div>