<section class="container">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/pdf">PDF</a></li>
        <li role="presentation"><a href="/doc">Word Document</a></li>
        <li role="presentation"><a href="/text">Text</a></li>
    </ul>
    <%= erb :resume %>
</section>