<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading font-bold panel-title">SUMMARY OF QUALIFICATIONS</div>
            <div class="panel-body">
                <ul class="list-group-ncss">
                    <li class="list-group-item-ncss">Over thirteen years of professional experience as a highly motivated Java developer/consultant, effective at multitasking and working under pressure to accomplish overall objectives.</li>
                    <li class="list-group-item-ncss">As a senior level developer, able to develop between front end and back end in any Java application.</li>
                    <li class="list-group-item-ncss">“Go to Guy” when a solution is needed. Able to analyze business needs and formulate creative design and technical approaches in both individual and team settings.</li>
                    <li class="list-group-item-ncss">Ability to dissect, understand, and utilize new and complex APIs for common business use cases.</li>
                    <li class="list-group-item-ncss">Ability to apply, implement complex APIs for use for lower level developers.</li>
                    <li class="list-group-item-ncss">Ability to learn new frameworks, design patterns, architecture and programming languages</li>
                    <li class="list-group-item-ncss">Ability to adapt to new and changing environments.</li>
                    <li class="list-group-item-ncss">Total Computer Science experience includes migration from Microsoft Windows environment to Linux based environment, while maintaining business objectives.</li>
                    <li class="list-group-item-ncss">TRUE Computer Scientist with knowledge in architecture, hardware, software for all computers science needs.</li>
                    <li class="list-group-item-ncss">Effectively relay and communicate new technologies to management and all related stakeholders.</li>
                    <li class="list-group-item-ncss">Develop precise solutions for every computer related issues in software development.</li>
                    <li class="list-group-item-ncss">Motivated team player who works diligently to ensure consistency and satisfaction of project requirements.</li>
                    <li class="list-group-item-ncss">Expansive knowledge and research capabilities to uncover latest technology developments to employ into solutions.</li>
                    <li class="list-group-item-ncss">Capable of excelling as an individual developer or within a small to large team development environments.</li>
                    <li class="list-group-item-ncss">Ability to coach, mentor and train less experienced team members.</li>
                    <li class="list-group-item-ncss">Effective communication skills to translate business requirements into actual implementation.</li>
                    <li class="list-group-item-ncss">Experience in building applications hosted in the cloud.</li>
                    <li class="list-group-item-ncss">Experience building SOA implementations including SOAP and RESTful based webservices.</li>
                </ul>
            </div>
        </div>
    </div>
</div>