<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading  font-bold panel-title">TECHNOLOGY OVERVIEW</div>
            <table class="table table-bordered tech-overview-table">
                <tr>
                    <th>Domain:</th>
                    <th>Technologies Used:</th>
                </tr>
                <tr>
                    <td>Programming Languages:</td>
                    <td>Java, C, C++, HTML, SQL, XML, PL/SQL</td>
                </tr>
                <tr>
                    <td>JAVA Enterprise Technologies:</td>
                    <td>JDBC, JSP, Servlets, EJB 3.1, SWING, SOAP and RESTful, Web Services, JMS, JPA</td>
                </tr>
                <tr>
                    <td>ORM Tools:</td>
                    <td>Maven, Ant, Gradle</td>
                </tr>
                <tr>
                    <td>Build Tools:</td>
                    <td>Maven, Ant, Gradle</td>
                </tr>
                <tr>
                    <td>Frameworks:</td>
                    <td>Spring, Spring MVC, Struts, Grails, GWT, MVP</td>
                </tr>
                <tr>
                    <td>Application Servers:</td>
                    <td>JBOSS, Weblogic, Websphere, Tomcat</td>
                </tr>
                <tr>
                    <td>Message Oriented Middleware:</td>
                    <td>MQ Series, Sun One Message Queue, JBOSS MQ</td>
                </tr>
                <tr>
                    <td>Databases:</td>
                    <td>MSSQL Server, Oracle, DB2, DataFlex,MS Access, MySQL, Sybase, Postgresql, SQLite</td>
                </tr>
                <tr>
                    <td>Operating Systems:</td>
                    <td>Windows 2000, NT, XP,Vista, Linux, UNIX,MAC OS X</td>
                </tr>
                <tr>
                    <td>SCM:</td>
                    <td>CVS, Subversion, Visual Source Safe, ClearCase, Git</td>
                </tr>
            </table>
        </div>
    </div>
</div>