@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic);
body {
   /* background: url("../images/veggies-2.jpeg") no-repeat center center fixed; */
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    background-size: cover;
    /*color: #27987C; */

    font-family: Arial;
    font-size: small;
}

.dl-horizontal dt {
    /*text-align: right;*/
    /*margin-bottom: 1em;*/
    width: 250px;
    padding-right: 1em;
}

.dl-horizontal dd {
    margin-left: 0;
    margin-bottom: 1em;
}

.font-bold {
    font-weight:bold;
}

.date-right{
    text-align:right;
}
.tech-overview-table{
    font-size: small;
}